<?xml version="1.0"?>
<!--
/**
 * Este arquivo é parte do programa Quack BB
 *
 * Quack BB é um software livre; você pode redistribuí-lo e/ou 
 * modificá-lo dentro dos termos da Licença Pública Geral GNU como 
 * publicada pela Fundação do Software Livre (FSF); na versão 3 da 
 * Licença, ou (na sua opinião) qualquer versão.
 *
 * Este programa é distribuído na esperança de que possa ser  útil, 
 * mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO
 * a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a
 * Licença Pública Geral GNU para maiores detalhes.
 *
 * Você deve ter recebido uma cópia da Licença Pública Geral GNU junto
 * com este programa, Se não, veja <http://www.gnu.org/licenses/>.
 *
 * @category   Quack
 * @package    Quack_BB
 * @author     Rafael Patro <rafaelpatro@gmail.com>
 * @copyright  Copyright (c) 2015 Rafael Patro (rafaelpatro@gmail.com)
 * @license    http://www.gnu.org/licenses/gpl.txt
 * @link       https://github.com/rafaelpatro/Quack_BB
 */ 
-->
<config>
   <sections>
        <payment>
            <groups>
               <bb_standard translate="label" module="bb">
                    <label>Banco do Brasil</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                          <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                              <show_in_store>1</show_in_store>
                          </active>
                          <title>
                              <label>Título</label>
                              <frontend_type>text</frontend_type>
                              <sort_order>10</sort_order>
                              <show_in_default>1</show_in_default>
                              <show_in_website>1</show_in_website>
                              <show_in_store>1</show_in_store>
                            </title>
                        <urlretorno>
                            <label>URL Retorno</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Endereço (URL) para o qual o cliente será direcionado, através do formulário Retorno, caso deseje voltar identificado ao site do convenente, a partir da última página do processo de pagamento, clicando em botão disponível nessa página. Exemplo: /RetornoBB.asp?1358568</comment>
                        </urlretorno>
                        <urlinforma>
                            <label>URL Informa</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Complemento de endereço (URL) que será acionado, indicando que uma transação foi finalizada no site do BB. Exemplo: /InformaBB.asp?1358568</comment>
                        </urlinforma>
                        <urlbb>
                            <label>URL do Banco</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>URL completa do webservice de pagamento.</comment>
                        </urlbb>
                        <urlsonda>
                            <label>URL Sonda</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>URL completa do webservice de consulta.</comment>
                        </urlsonda>
                        <idconv>
                            <label>Código de Comércio Eletrônico</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Código do convênio de Comércio Eletrônico fornecido pelo banco (número de 6 dígitos).</comment>
                        </idconv>
                        <reftran>
                            <label>Código de Cobrança</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Código do convênio de Cobrança fornecido pelo banco (número de 6 ou 7 dígitos).</comment>
                        </reftran>
                        <tppagamento>
                            <label>Modalidade de Pagamento</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Quack_BB_Model_Source_TpPagamento</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tppagamento>
                        <tpduplicata>
                            <label>Tipo de Boleto</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Quack_BB_Model_Source_TpDuplicata</source_model>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                            	<tppagamento separator=",">0,2,21</tppagamento>
                            </depends>
                        </tpduplicata>
                        <dtvenc>
                            <label>Prazo de Vencimento</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Número de dias para o vencimento do boleto.</comment>
                            <depends>
                            	<tppagamento separator=",">0,2,21</tppagamento>
                            </depends>
                        </dtvenc>
                        <valordesconto>
                            <label>Exibir Desconto</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>94</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Para os pedidos com desconto, exibe o desconto/abatimento separadamente no boleto. Nesse caso o valor do boleto será acrescido (total do pedido + desconto). Não produz efeito algum em pedidos sem desconto.</comment>
                            <depends>
                            	<tppagamento separator=",">0,2,21</tppagamento>
                            </depends>
                        </valordesconto>
                        <datalimitedesconto>
                            <label>Prazo do Desconto</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>96</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Prazo (em dias) para pagamento do boleto com desconto/abatimento. Este prazo deve ser inferior ao Prazo de Vencimento convencional.</comment>
                            <depends>
                            	<tppagamento separator=",">0,2,21</tppagamento>
                            	<valordesconto>1</valordesconto>
                            </depends>
                        </datalimitedesconto>
                        <msgloja>
                            <label>Mensagem do Boleto</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Mensagem apresentada no boleto de cobrança. Tags HTML não são permitidas, exceto a quebra de linha br.</comment>
                            <depends>
                            	<tppagamento separator=",">0,2,21</tppagamento>
                            </depends>
                        </msgloja>
                        <order_status translate="label">
                            <label>Status dos novos pedidos</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_new</source_model>
                              <sort_order>110</sort_order>
                              <show_in_default>1</show_in_default>
                              <show_in_website>1</show_in_website>
                              <show_in_store>1</show_in_store>
                        </order_status>
                        <allowredirect translate="label">
                            <label>Redirecionar para o banco ao finalizar o pedido</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Opção para redirecionar o cliente ao ambiente do banco, imediatamente ao concluir a compra. Caso contrário o cliente irá para a página de sucesso, com as orientações de pagamento.</comment>
                        </allowredirect>
                        <allowbanktransfer translate="label">
                            <label>Permitir Depósito em Caixa</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Exibe opção de pagamento via depósito/transferência em caixa.</comment>
                        </allowbanktransfer>
                        <cms_banktransfer_page translate="label">
                            <label>CMS Página de Instruções</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cms_page</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Página CMS que contém intruções para depósito/transferência em caixa.</comment>
                            <depends>
                            	<allowbanktransfer separator=",">1</allowbanktransfer>
                            </depends>
                        </cms_banktransfer_page>
                        <allowspecific translate="label">
                            <label>Tipos de Países Permitidos</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>150</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Permitir Pagamento de Países Específicos</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>160</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificcountry>
                        <min_order_total translate="label">
                            <label>Minimum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>170</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </min_order_total>
                        <max_order_total translate="label">
                            <label>Maximum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>180</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_order_total>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>190</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                    </fields>
                </bb_standard>
            </groups>
        </payment>       
    </sections>
</config>
